#row-1 {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

#row-1 > div{
    margin: 0px 10px 0px 10px;
    }
.delete, .edit{
    margin: 0px 5px 0px 5px;
    justify-content: flex-end;
    }